<ion-view view-title="easyNote">
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="right">
      <!--href="#tab/list/create"-->
      <button class="button-clear" ng-click="addSchedule()"><a class="ion-plus" style="font-size: 22px"></a></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding">
    <!--顶部导航条，因业务需求变化，暂时屏蔽-->
    <!--<div style="background-color:#BF77C0;border-radius: 15px;width: 100%">-->
    <!--<a ng-click="getScheduleListByOption(1)" class="item-body" style="color: ghostwhite"><span id="tab1"-->
    <!--style="border-radius: 5px;box-shadow: 0 0 15px #f3d42e;">所有</span></a>-->
    <!--<a ng-click="getScheduleListByOption(2)" class="item-body" style="color: ghostwhite"><span id="tab2"-->
    <!--style="border-radius: 5px">已完成</span></a>-->
    <!--<a ng-click="getScheduleListByOption(3)" class="item-body" style="color: ghostwhite"><span id="tab3"-->
    <!--style="border-radius: 5px">未完成</span></a>-->
    <!--<a ng-click="getScheduleListByOption(4)" class="item-body" style="color: ghostwhite"><span id="tab4"-->
    <!--style="border-radius: 5px">超时</span></a>-->
    <!--<a ng-click="getScheduleListByOption(5)" class="item-body" style="color: ghostwhite"><span id="tab5"-->
    <!--style="border-radius: 5px">待办</span></a>-->
    <!--</div>-->
    <div class="list card">
      <h1 style="color: #44A5C7;padding-left: 15px">{{title}}</h1>
      <!--<div class="content has-header ionic-pseudo">-->
      <ion-list class="list-inset" show-delete="{{shouldShowDelete}}">
        <!--点击列表项可以查看日程详情，该功能已隐藏-->
        <!--<ion-item ng-repeat="info in scheduleInfos" class="item-avatar" href="#tab/list/detail">-->
        <!--使用filter处理数组中的判断条件-->
        <!--<ion-item id="myItem" ng-repeat="info in scheduleInfos | filter:{scheduleType: '事项类型 ：出行'}" class="item item-thumbnail-left">-->
        <ion-item id="myItem" ng-repeat="info in scheduleInfos" class="item item-avatar">
          <img src="http://img0.imgtn.bdimg.com/it/u=2281878624,1078964814&fm=21&gp=0.jpg">
          <p ng-class="{true: 'done', false: ''}[info.scheduleState == 'done']">{{ info.scheduleDes }}</p>
          <ion-option-button ng-if="isShowDoneButton" class="button-clear"
                             style="padding-top:25px;padding-left: 11px;padding-right:11px"
                             ng-click="infoDone(info)">
            <a class="ion-android-checkmark-circle" style="font-size: 32px;">
            </a>
          </ion-option-button>
          <ion-option-button ng-if="isShowDoneButton" class="button-clear"
                             style="padding-top:25px;padding-left: 11px;padding-right:11px"
                             ng-click="removeItem(info)">
            <a class="ion-ios-trash-outline" style="font-size: 32px">
            </a>
          </ion-option-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
