<ion-view view-title="Account">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-thumbnail-left">
        <img src="http://p.3761.com/pic/68291423098733.jpg">
        <h2>蓝精灵</h2>
      </div>
      <div class="item item-body item-icon-left">
        <a class="item item-icon-left">
          <i class="icon ion-person-stalker"></i>
          待办事项
          <span class="badge badge-assertive">0</span>
        </a>
      </div>
      <div class="item item-body item-icon-left">
        <a class="item item-icon-left">
          <i class="icon ion-person-stalker"></i>
          已完成
          <span class="badge badge-assertive">2</span>
        </a>
      </div>
      <div class="item item-body item-icon-left">
        <a class="item item-icon-left">
          <i class="icon ion-person-stalker"></i>
          进行中事项
          <span class="badge badge-assertive">112</span>
        </a>
      </div>
      <div class="item item-body">
        <div style="word-break: break-all;word-wrap:break-word"><p>您已使用本系统累计3小时，超过全国80%用户</p></div>
      </div>
      <div class="item item-body">
        成就：初窥门径（达到下一成就还需要2小时）
      </div>
    </div>
  </ion-content>
</ion-view>

